*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #023ba5;
}
.content-title {
  position: relative;
  padding: 10px 20px;
  height: 75px;
  background: #00307f;
  border: 1px solid #fff;
  color: #fff;
}
.language {
  position: relative;
  border: 1px solid #fff;
  height: 40px;
  width: 100%;
  color: #fff;
  padding: 5px;
  text-align: center;
  display: none;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 0.3s all 0.3s;
}
#choicelangue {
  position: relative;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 0 0 10px 10px;
  width: 100px;
  margin: auto;
  height: 15px;
  text-align: center;
  font-size: 10px;
}
.hidelanguage {
  position: relative;
  border: 1px solid #fff;
  width: 100%;
  color: #fff;
  text-align: center;
  max-height: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 0.3s all 0.3s;
}
.showlanguage {
  position: relative;
  border: 1px solid #fff;
  width: 100%;
  color: #fff;
  text-align: center;
  max-height: 40px;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 0.3s all 0.3s;
}
.checkbox {
  margin: 10px 10px;
}
#choicelangue > button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 10px;
}
.btncard {
  border: none;
  background: transparent;
}
#menurpi {
  margin-top: 2em;
  height: 55%;
}
input {
  text-align: center;
}
.container {
  background: #023ba5;
}
.card {
  border: none;
}
.card-style {
  background: #023ba5;
}
.nav {
  margin: 20px;
}
.li-nav {
  margin: 10px;
}
.li-nav a {
  text-decoration: none;
}
.custom-btn-rpi {
  padding: 5px;
  text-align: center;
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  background: 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5),
    7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
}
.btn-rpi {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-rpi:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.btn-rpi:hover {
  background: 0 0;
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.5),
    -2px -2px 4px 0 rgba(116, 125, 136, 0.2),
    inset -2px -2px 4px 0 rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.btn-rpi:hover:after {
  transform: scale(2) rotate(180deg);
  box-shadow: 2px 2px 4px 0 rgba(255, 255, 255, 0.5),
    -2px -2px 4px 0 rgba(116, 125, 136, 0.2),
    inset -2px -2px 4px 0 rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px 0 rgba(116, 125, 136, 0.3);
}
.card {
  color: #fff;
}
.meta-p {
  font-size: 10px;
  color: #fff;
}
.card-custom {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
}
.card-block{
  border-left:1px solid #fff;
}
.meta-img-nopsn {
  width: 4rem;
}
.meta-img {
  width: 4rem;
  border-radius: 10px;
  margin: 2px;
}
.badge {
  padding: 2px;
  height: 15px;
  cursor: pointer;
}
.progress {
  height: 5px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #023ba5;
}
.no-progress {
  border:none;
}
.display-progress {
  position: relative;
  width: 0%;
  color: #fff;
  background: #fff;
  border-radius: 10px;
}
.player{
  padding:0;
}
.btn-media{
  padding:4px 8px;
  margin: 5px 2px;
  border-radius:5px;
  border:none;
}
label{
  color:#fff;
}
.alert{
  text-align:center;
}
.btn-focus{
  padding:4px 8px;
  margin: 5px 2px;
  border-radius:5px;;
  border:none;
  background-color: red;
}
.red {
  color: rgb(238, 104, 104);
}
.green {
  color: rgb(91, 160, 91);
}
.orange {
  color: orange;
}

@media (max-width: 576px) { 

 }


@media (max-width: 768px) { 

 }


@media (max-width: 992px) { 
  
}


@media (max-width: 1200px) {  

}